.Article {
    background-image: url("/logo.png");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 70px 0; 
    position: relative;
}
.Article::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: #dbe2efab;
  }
.Article .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 9;
}
.Article .container .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: var(--color-title);
    border-bottom: 2px solid var(--color-title);
    width: fit-content;
}
.Article .container ul li h1 svg {
    color: var(--color-title-tow);
    font-size: 40px;
    margin: 0 10px;
}
.Article .container ul li {
    background-color: var(--text-color);
    color: var(--color-tow);
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    transition: 0.5s;
}
.Article .container ul li:hover {
    background-color: rgb(3, 91, 3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Article .container ul li h1 {
    font-size: 35px;
    margin-bottom: 30px;
    color: var(--color-title-tow);
    border-bottom: 2px solid var(--color-title-tow);
    width: fit-content;
    padding-bottom: 20px;
    font-weight: bold;
}
.Article .container ul li p {
    font-size: 25px;
    line-height: 1.7;
    text-align: justify;
}
@media (max-width: 770px) {
    .Article .container ul li {
        padding: 30px 20px;
    }
    .Article .container .title {
        font-size: 25px;
    }
    .Article .container ul li h1 {
        font-size: 20px;
    }
    .Article .container ul li p {
        font-size: 15px;
        line-height: 1.7;
        text-align: justify  ;
    }
    .Article .container ul li h1 svg {
        font-size: 25px;
    }
}