.Container-image-icon-2 {
    position: absolute;
    z-index: 8;
    background-color: var(--text-color);
    border-radius: 50%;
    left: 20px;
    top: 25px;
} 

@media (max-width: 970px) {
    .Container-image-icon-2{
        display: none;
    }
}