@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color: green;
  --color-title: blue;
  --color-title-tow: red;
  --color-one: #f9f7f7;
  --color-tow: #dbe2ef;
}

body {
  color: var(--foreground);
  background: var(--color-tow);
  margin-top: 80px;
  direction: rtl;
  font-family: "Readex Pro", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* HTML: <div class="loader"></div> */
