@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-color : #112D4E;
  --color-one :#F9F7F7;
  --color-tow :#DBE2EF;
  --Decorations :#3F72AF;
}


body {
  color: var(--foreground);
  background: var(--color-tow);
  margin-top: 80px;
  direction: rtl;
  font-family: "Readex Pro", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* HTML: <div class="loader"></div> */
