.Experiences {
    background-color: white;
    padding: 60px 0;
    position: relative;
}
.container-img-experiences {
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 20px;
    transition: 0.5s;
}
.container-img-experiences:hover {
    border-color: var(--color-text);
}
.Experiences .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-experiences {
    padding: 10px;
    border-radius: 20px;
}
.Experiences .container ul {
    padding: 20px;
}
.Experiences .container ul h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0;

}
.Experiences .container ul li {
    margin: 20px 0;
}
.Experiences .container ul li h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.Experiences .container ul li p {
    font-size: 20px;
    margin-bottom: 10px;
}